@font-face {
    font-family: 'robotoblack';
    src: url('roboto-black-webfont.woff2') format('woff2'),
         url('roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
{
    font-family:"robotoblack";
}

html, body
{
    margin:0;
    padding:0;
}

.body
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-family:"robotoblack";
}
.sidebar
{
    grid-column: 1 / 2;
    grid-row: 1 / 3; /*implicit rows*/

    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #1992D4;
    color: white;
    padding:8px   
}

.header
{
    grid-column: 2 / 3;
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));/* an attempt for the bill and profile container to wrap*/
    padding:16px 32px 32px 32px;
    box-shadow: 2px 6px 20px 2px #CCD1D8;
    margin-bottom: 6px;
}

.main
{
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 9fr 9fr;    
    padding:32px;
    background-color: #E2E8F0;
}

.projects
{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.announcemnts
{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trending
{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}