/* sidebar */
.logoContainer
{
    display: flex;
    gap:1rem
}
.logo
{
    min-width: 30px;
    width: calc(10% + 10px);
    fill: white;
}

.subject
{
    font-size: 28px;
    font-weight: bold;
    align-self: center;
}

.sidebar ul
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    padding-left: 16px;
}

.sidebar ul li 
{
    display:flex;
    align-items: center;
    gap:1rem;
}

/*header*/

.searchBarContainer
{
    

    display: flex;
    align-items: center;
    gap:0.5rem;
}

.searchBar
{
    /* min-width:90%; */
    width:90%;
    outline:none;
    border-radius: 16px;
    border:0px;
    background-color: #E2E8F0; 
    padding:8px 16px;
}

.searchLogo
{
    min-width: 30px;
    width: calc(3% + 10px)
}

.billAndProfileContainer
{
    
    justify-self: end;

    display: flex;
    align-items: center;
    gap:2rem;
    justify-content: end;
}

.billAndProfileContainer span
{
    font-size: 24px;
}

.billAndProfileContainer .profilePic
{
    width: calc(5% + 30px);
}

.bill
{
    min-width: 30px;
    width: clamp(30px, 5%, 50px);/* the lower bound doesnt work*/
    fill:black;
}

.greetingContainer
{
    grid-column: 1 / 2;

    display:flex;
    flex-wrap: wrap;
    gap:2rem;
}

.greetingContainer .profilePic
{
    width: calc(5% + 60px);
    margin-top: 8px;
    
}

.greetingContainer p
{
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
}

.greetingContainer span
{
    font-size: 32px;
    font-weight: bold;
}


.buttonsContainer
{
    grid-column: 2 / 3;
    min-width: fit-content;
    align-self: end;

    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap:3rem;
}

.buttonsContainer button
{
    background-color: #1992D4;
    color:white;
    border-radius: 32px;
    border: 0px;
    padding:12px 36px;
    font-size: 18px;
}

/* projects */
.projectsTitle
{
    margin-top:4px
}

.announcementsTitle
{
    margin-top:4px
}

.projectCard
{
    width:450px;
    min-height:200px;
    background-color: white;
    padding:32px 20px;
    border-radius: 8px;
    /* border-left: 8px solid #c2410c; */
    border-left: 8px solid #facc15;
    box-shadow: 1px 1px 6px 0px #000000;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectCard h1
{
    margin:0px;
    font-size: 28px;
}

.projectCard p
{
    font-size: 18px;
}

.projectCardButtons
{
    align-self: flex-end;

    display: flex;
    gap:1.5rem;
}

.favouriteLogo
{
    min-width: 30px;
    width: 30px;
}

.addToLaterLogo
{
    min-width: 30px;
    width: 30px;
}

.shareLogo
{
    min-width: 30px;
    width: 30px;
}

/* Announcements */

.announcementCard
{
    background-color: white;
    padding: 8px;
    border-bottom: 1px solid #D2D2D2;
}

.announcementCard:last-child
{
    border-bottom: 0px;
}

.announcementCard h1
{
    font-size: 20px;
}

.announcementCard p
{
    font-size: 16px;
}


/* Trending */

.trendingTitle
{
    margin-top: 0px;
}

.trendingCard
{
    display: flex;
    gap:1rem;
    padding:16px;
    background-color: white;
}

.trendingCard:last-child
{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.trendingCard:first-of-type
{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.trendingCard .profilePic
{
    width: calc(10% + 30px);
}

.greeting p 
{
    margin:2px;
}